*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body{
    background-color:#200624!important;
    cursor: pointer;
}
/* navbar start */
#navbarSupportedContent{
    margin-left: 50%;
}
#navbarSupportedContent > ul{
    margin-left: 150px;
}
/* after nav bg */
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100vw;
    overflow: hidden!important;
}
#bg-img{
    width: 100vw;
    height: 35vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.inner{
    position: absolute;
    color: white;
    display: block;
    margin: auto;
    margin-left: 28%;
    max-width: 100vw;
}
.bg-text{
    font-size: 2.5rem;
    text-shadow: 1px 3px 3px #e21c1c;
    animation: text 10 5s ease-in reverse both;
}
@keyframes text{
    0%{transform: scale(0.8,0.8);}
    25%{transform: scale(0.9,0.9);}
    50%{transform: scale(0.8,0.8);}
    75%{transform: scale(0.9,0.9);}
    100%{transform: scale(0.8,0.8);}
}
.resume-btn{
    background-color: #f32562;
    color: white;
    padding: 10px;
    text-decoration: none!important;
}
.resume-btn:hover{
    color: #f3e1e4;
    background-color: transparent;
    border: 2px solid  #e41530;
}
/* after nav bg  end */
/* projects section start */
#project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.card-body{
    padding: 0px!important;
}
#project-container .card{
    margin: 10px;
    width: 20%;
    height: 20%;
}
#project-container .card img{
     height:20vh;
     width: 100%;
     margin-bottom: 10px;
}
#project-container .card .card-btn{
    display: flex;
}
#project-container .card a{
    height: 10%;
    width: 70%;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
/* about us start */
.about{
    display: block;
    margin: auto;
    width: 50%;
    margin-top:2rem;
}

.about p{
    font-size: 1.3rem;
}

.tech{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech li{
    margin-right:2rem ;
    text-decoration: none;
    list-style: none;}


/* contact */
#sendbtn.contact{ 
    padding: 20px;
    margin-bottom: 20px;
}
.group{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 30%;
    margin: auto;
}

.group label{
    font-size:1.2rem;
    margin-top:4px;
}

#sendbtn{
    font-size:1.4rem;
    margin-top: 10px;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.contact-link{
    /* background-color: rgb(255, 245, 245); */
    width: 30%;
    margin: auto;
}
.contact-link ul{
display: flex;
flex-direction: row;
justify-content: space-around;
list-style: none;
}

/* footer */

/* hovers */
.contact-link svg:hover{
    transform: scale(1.6);
    margin: 1px 5px;
    transition: all ease-out 0.3s;
}


/* for phone 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 */
@media screen and (max-width:500px){
/* .navbar{
    width: 100vw;
    cursor: pointer;
} */
#navbarSupportedContent {
    margin-left: 0%;
     text-align: center;
}
#navbarNavDropdown ul {
    margin-top: 5%;
   background-color: rgb(248 249 250);
}
#navbarNavDropdown ul li{
    font-size: 1.5rem;
    background-color: rgb(248 249 250);
    color: black;
 }
 #navbarSupportedContent > ul {
    margin-left: 0px;
}
.inner{
    margin-left: 0px;
}
/* bg end */
/*  project */
#project-container .card {
    width: 65%;
    height: 35%;
}
#project-container .card .card-btn{
    display: block;
    margin: auto;
}
#project-container .card img{
     height: 20vh;
}
#project-container .card button{
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}
/*project end*/
 .about{
     width: 90%;
 }
 .about p{
     font-size: large;
 }
 .tech{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* contact */
.contact{
        padding: 20px;
}
.group{
    width: 80%;
}

.group label{
    font-size:1rem;
    margin-top:4px;
}

#sendbtn{
    font-size:1rem;
    padding: 5px;
    width: 40%;
}
.contact-link{
    width: 80%;
    margin: auto;
}

}